@charset "utf-8";

@media only screen and (max-width:770px){
	.navbar-header a:after{
		content: "\f00d";
		font-family: 'FontAwesome';
		float: right;
		font-size: 40px;
		color:#ffffff;
		}
		.navbar-header a.collapsed:after{
		content: "\f0c9";
		}
	
}
